{% extends 'base.html' %}
{{ request }}
{% block content %}
    <div class="content-section">
        {% for game in games %}
            <div class="card text-center mb-5">
              <div class="card-header">
                Srilanka Basketball League
              </div>
              <div class="card-body">
                <h5 class="card-title">Teams : {{ game.home_team }} VS {{ game.visitor_team }}</h5>
                <h5 class="card-title">Scores : {{ game.home_score }} VS {{ game.visitor_score }}</h5>
                <p class="card-text">Date : {{ game.game_date }}</p>
                <p class="card-text">Venue : {{ game.game_venue }}</p>
              </div>
              <div class="card-footer text-muted">
                {{ game.winner }} Won the Match
              </div>
            </div>
        {% endfor %}
    </div>
{% endblock content%}
